

* {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: 0.5s cubic-bezier(1,0,.6,1.23);
}


a {
    color: var(--text-color-accent);
    text-decoration: none;
}

body {
    background-color: var(--bg-Dcolor);

    transition: backeround-color 0.5s;
}

input {
    margin: 1vh 0vh 1vh 0vh;
    padding: 1vh;
    width: 25vw;
    height: 4vh;
    border-radius: 1vh;
    border: 1px solid var(--gray-alpha);
    font-size: 16px;
    outline: none;
    backdrop-filter: blur(15px);
}

input:focus {
    border: 2px solid var(--text-color-accent);
    box-shadow: 0 0 8px 0 var(--gray-alpha);

    background-color: var(--gray-alpha);
}

button {
    margin: 1vw 0vh 1vw 0vh;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    background-color: var(--gray-alpha);
    border: 1px solid var(--gray-alpha);
    outline: none;
    backdrop-filter: blur(15px);
}

button:hover {
    color: var(--bg-Dcolor);
    background-color: var(--text-color-accent);
    border: 1px solid var(--text-color-accent);
}

.Abox {
    height: 100vh;
    width: auto;
    background: var(--linear-gradient-bg-color);    
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
}

img {
    width: 20vw;
    border-radius: 30px;
}


.navBar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    background-color: var(--Dgray-alpha);
    backdrop-filter: blur(15px);
    z-index: 1;
}

.navBar img {
    border-radius: 0.7vh;
    margin-left: 1vh;
    margin-right: 1vh;
    position: relative;
    height: 3.5vh;
    width: 3.5vh;
}

.leftBar {
    position: relative;
    padding-left: 1vh;
    display: flex;
    align-items: center;
}

.leftBar a {
    position: relative;
    color: var(--text-color);
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.2vh;
    border-left: 1px solid var(--gray-alpha);
    border-right: 1px solid var(--gray-alpha);
}

.leftBar a:hover {
    color: var(--text-color-accent);
    font-size: 2.5vh;
}

.leftBar a:hover i {
    color: var(--text-color-accent);
    font-size: 2.5vh;
}

.leftBar p {
    position: relative;
    color: var(--text-color);
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.2vh;
    border-left: 1px solid var(--gray-alpha);
    border-right: 1px solid var(--gray-alpha);
}

.leftBar p:hover {
    color: var(--text-color-accent);
    font-size: 2.5vh;
}

.leftBar p:hover i{
    color: var(--text-color-accent);
    font-size: 2.5vh;
}

.leftBar p:focus {
    color: var(--text-color-accent);
    font-size: 2.5vh;
}

.leftBar ul {
    position: fixed;
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.leftBar ul a {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.2vh;
}

.leftBar .p_ul1 {
    margin-top: 1vh;
    text-align: center;
}

.leftBar .p_ul1 a {
    border-left: 0px solid var(--gray-alpha);
    border-right: 0px solid var(--gray-alpha);
}
.leftBar .p_ul1 li {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.2vh;
    border-left: 1px solid var(--gray-alpha);
    border-right: 1px solid var(--gray-alpha);
    background-color: var(--Dgray-alpha-35);
    /* 不知原因无法使用 */
    backdrop-filter: blur(15px);
}


.leftBar .p_menu {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.icon {
    position: relative;
    padding-right: 0.5vh;
}
.icon * {
    padding: 0.2vh;
}

#github {
    position: relative;
    font-size: 3.5vh;
    color: var(--text-color);
    opacity: 0.3;

    transition: color 0.3s, opacity 1s;
}

#github:hover {
    color: var(--text-color-accent);
    opacity: 1;
}

#tg {
    position: relative; 
    font-size: 3.5vh;
    color: var(--text-color);
    opacity: 0.3;

    transition: color 0.3s, opacity 1s;
}

#tg:hover {
    color: var(--text-color-accent);
    opacity: 1;
}

#gitee {
    position: relative; 
    font-size: 3.5vh;
    color: var(--text-color);
    opacity: 0.3;

    transition: color 0.3s, opacity 1s;
}

#gitee:hover {
    color: var(--text-color-accent);
    opacity: 1;
}




#theme_btn {
    cursor: pointer;
}

.themeSelector {
    position: fixed;
    /* 绝对位置垂直居中 */
    top: 50%;
    transform: translate(0%, -50%);
    left: -15vh;
    margin: 1vh;
    padding: 1vh;
    z-index: 5;
    opacity: 0;
}

.themeSelector .button {
    margin: 0.5vh;
    height: 9vh;
    width: 11vh;
    background-color: var(--Dgray-alpha);
    border-radius: 1.9vh;
    backdrop-filter: blur(15px);
}

.themeSelector .button p {
    position: relative;
    top: 1.5vh;
    font-size: 1.8vh;
    text-align: center;
}

.colorBlock0 {
    display: flex;
    justify-content: center;
}

.colorBlock0 .block1 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #1e2d39;
    border-radius: 1.5vh;
}

.colorBlock0 .block2 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #ff9f53;
    border-radius: 1.5vh;
}

.colorBlock1 {
    display: flex;
    justify-content: center;
}

.colorBlock1 .block1 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: rgb(34, 34, 49);
    border-radius: 1.5vh;
}

.colorBlock1 .block2 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: rgb(255, 201, 120);
    border-radius: 1.5vh;
}


.colorBlock2 {
    display: flex;
    justify-content: center;
}

.colorBlock2 .block1 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #C1DBDA;
    border-radius: 10px;
}

.colorBlock2 .block2 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #F2987D;
    border-radius: 10px;
}


.colorBlock3 {
    display: flex;
    justify-content: center;
}

.colorBlock3 .block1 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #f8f5d6;
    border-radius: 10px;
}

.colorBlock3 .block2 {
    position: relative;
    top: 1vh;
    height: 4.5vh;
    width: 4.5vh;
    background-color: #80d1c8;
    border-radius: 10px;
}



input {
    background-color: var(--gray-alpha);
}

.linkIndex {
    color: var(--text-color);
    right:  0px;
    margin: 5px;
    padding:7px;
    position: fixed;
    background-color: var(--gray-alpha);
    border-radius: 10px;
}

.linkIndex:hover {
    background-color: var(--text-color-accent);
}
