.Abox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indexBox {
    margin: 4vh 0vw 0vh 0vw;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-row-gap: 2vh;
    width: 50vw;
    height: 80vh;
    border-radius: 4vh;
    border: 1px solid var(--gray-alpha);
    background-color: var(--gray-alpha);
    backdrop-filter: blur(1vh);
}

.indexBox h1 {
    font-size: 5.5vh;
    margin: 7vh;
}
