
.box {
    display: flex;
    justify-content: center;
}

img {
    width: auto;
    height: 100%;
    border-radius: 0;
}

.imgBox {
    margin: 2vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 2vh;
}

#photoBox {
    display: flex;
    width: 95vw;
    height: 90vh;
    background-color: var(--Lgray-alpha);
    border-radius: 3vh;
    overflow: hidden;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 3vh var(--black-alpha);
}

.info {
    padding: 2vh 2vh 2vh 0vh;
    font-size: 3vh;
}

.info p:hover {
    color: var(--text-color-accent);
}

.Abox {
    background-image: url(../img/photo/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}