table {
    border: 3px ridge var(--text-color-accent);
    border-radius: 8px;
    margin: 1vw;
    padding: 1vw;
}

td {
    text-align: center;
    border: 1px solid var(--text-color-accent);
    border-radius: 5px;
    padding: 1vw;
}

ul {
    list-style-type: circle;
    padding: 1vw;
    margin: 1vw;
}

ol {
    padding: 1vw;
    margin: 1vw;
}

.Abox {
    display: flex;
    justify-content: center;
    align-items: center;
}