.l-r {
    position: relative;
    display: flex;
    /* 默认水平排列,会自动折叠 */
    flex-wrap: wrap;
    left: 20px;
}

.l-r h2 {
    margin: 10px;
    padding-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-a-r {
    position: relative;
    top: 5vh;
    padding: 3vh;
    background-color: var(--gray-alpha);
    backdrop-filter: blur(1vh);
    border-radius: 5vh;
    box-shadow: 0 0 10vh var(--black-alpha);
}

.l-a-r .i {

    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--gray-alpha);
    padding: 5px;
    font-size: 16px;
    outline: none;
}


.i:focus {
    border: 2px solid var(--text-color-accent);
    box-shadow: 0 0 8px 0 var(--gray-alpha);

    background-color: var(--gray-alpha);
}

.hkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--gray-alpha);
    padding: 5px;
    font-size: 16px;
    outline: none;
    background-color: var(--gray-alpha);
    backdrop-filter: blur(1vh);
}

.hkBg {
    
    position: absolute;
    margin: 10px;
    left: -6px;
    height: 40px;
    width: 0px;
    border-radius: 5px;

    font-size: 16px;
    outline: none;
    background-color: var(--text-color-accent);
    transition: left 0.5s;
    opacity: 0;
}

.hkBg p {
    position: fixed;
    left: 50%;
    transform: translateX(-60%);
    top: 32.8%;
    color: var(--bg-color);
    /* 透明 */
    opacity: 0;
}

.hkBox p {
    font-size: 14px;
}

.hk {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 1px;
    height: 42px;
    width: 42px;
    background-color: var(--bg-color);
    touch-action: none;
    transition: left 0s;
}

.l-a-r .v {

    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--gray-alpha);
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.v:focus {
    border: 2px solid var(--text-color-accent);
    box-shadow: 0 0 8px 0 var(--gray-alpha);
    background-color: var(--gray-alpha);
}

.v_btn {
    position: absolute;
    right: 0px;
    color: var(--bg-color);
    margin: 10px;
    height: 45px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid var(--gray-alpha);
    padding: 5px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    background-color: var(--text-color-accent);
}

.verification {
    display: grid;
    grid-template-columns: 200px 100px;

}



.l_btn {
    color: var(--bg-color);
    margin: 10px;
    width: 310px;
    height: 50px;
    border-radius: 100vw;
    border: 1px solid var(--gray-alpha);
    padding: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background-color: var(--text-color-accent);
}

.wechat {
    display: flex;
    /* 水平居中 */
    justify-content: center;
    align-items: center;

    cursor: pointer;
    margin: 10px;
    width: 310px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--text-color-accent);
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.wechat * {
    margin: 5px;
    color: var(--text-color-accent);
}


/* .Tlogin {
    border-bottom: 0px solid var(--bg-Dcolor);
} */
.Tlogin {
    border-bottom: 5px solid var(--text-color-accent);
    cursor: pointer;
}

.Tregister {
    cursor: pointer;
}

.money {
    position: fixed;
    display:"block";
    top: 470px;
    width: 0px;
    height: 0px;
    opacity: 0;
    box-shadow: 0 0 10vh var(--black-alpha);
}

.wechatIcon {
    position: fixed;
    left: 100px;
    font-size: 16px;
    transition:
    left 0.5s cubic-bezier(.98,-0.53,.59,1.23),
    font-size 0.5s cubic-bezier(.98,-0.53,.59,1.23);
}

#moneyText {
    position: relative;
    top: 0px;
}